* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: #054581;
    --lightheader: #ffffffc9;

}
body {
    color: var(--darkblue);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--lightheader);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--lightheader);
}

header nav {
    margin: 7px 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    float: left;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}