* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: #054581;
    --lightheader: #ffffffc9;

}
body {
    color: var(--darkblue);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 10px 35px;
    background-color: rgba(5, 69, 129, 0.7);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-position: sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgba(240, 238, 238, 1.0);
    margin: 0;
}

header a {
    text-decoration: none;
    color: rgba(240, 238, 238, 1.0);
}

header nav {
    margin: 7px 0;
    overflow: hidden;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav ul li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    float: left;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-weight: lighter;
    font-size: 1.55vw;
    display: inline-flex;
    border: none;
    outline: none;
    color: rgba(240, 238, 238, 1.0);
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(5, 69, 129, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    padding: 20px;
    text-align: center;
    display: block;
}

.hero img {
    width: 540px;
    height: auto;
}

section {
    padding-top: 75px;
}